<div class="uk-card uk-card-body uk-width-1-1 uk-width-2-3@m uk-width-1-2@l">
    {{#if errorMessage}}
        <div class="uk-text-danger">{{errorMessage}}</div>
    {{/if}}
    {{#if successMessage}}
        <div class="uk-text-success">{{successMessage}}</div>
    {{/if}}
    <div uk-grid>
        <div class="uk-text-lead uk-width-2-3" style="padding-left: 0;">Configs</div>
        <div class="uk-text-right uk-width-1-3"  style="padding-left: 0;">
            <a href="javascript:;" class="uk-icon-link add-config" uk-icon="plus" uk-tooltip="title: Add Config" uk-toggle="target: #modal-add-config"></a>
            <div id="modal-add-config" uk-modal>
                <config-form v-model="config" initial="true"/>
            </div>
        </div>
    </div>
    <table class="uk-table uk-table-responsive uk-table-divider">
        <thead>
            <tr>
                <th>Domain Name</th>
                <th>Type</th>
                <th>Target</th>
                <th>Encrypted?</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="config-list">
            <tr v-for="config in configs">
                <td>/{{config.domain}}</td>
                <td>/{{config.type}}</td>
                <td>/{{config.type === 'redirect' ? config.redirect : `${config.host}:${config.port}`}}</td>
                <td>
                    <span v-if="leDomain" uk-icon="check"></span>
                    <span v-else uk-icon="close"></span>
                </td>
                <td>/{{users ? users.find(u=>u._id === config.owner).fullname : 'Unknown'}}</td>
                <td>
                    <a href="javascript:;" class="uk-icon-link edit-config" uk-icon="edit" uk-tooltip="title: Edit Config" :uk-toggle="`target: #modal-edit-config-${config._id}`"></a>
                    <a href="javascript:;" class="uk-icon-link uk-text-danger" uk-icon="trash" uk-tooltip="title: Delete Config" :uk-toggle="`target: #modal-delete-config-${config._id}`"></a>
                    <div :id="`modal-delete-config-${_id}`" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <legend class="uk-legend">Remove Config for /{{config.domain}}?! ARE YOU SURE!?</legend>
                            <button class="uk-button uk-button-default uk-modal-close">Cancel</button>
                            <button class="uk-button uk-button-danger" @click.stop="delete">Delete Forever</button>
                        </div>
                    </div>
                    <div :id="`modal-edit-config-${_id}`" uk-modal>
                        <config-form :config="config"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>